html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Core Sans C 15";
  src: url(/fonts/CoreSansC-15Thin.eot?bd2fd8b63116b7802ac4393463023781);
  src: local("Core Sans C 15 Thin"), local("CoreSansC-15Thin"), url(/fonts/CoreSansC-15Thin.eot?bd2fd8b63116b7802ac4393463023781?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-15Thin.woff2?e7306adf7c9bc8feecf622cd55bf632a) format("woff2"), url(/fonts/CoreSansC-15Thin.woff?359aea64df224be71a9da26c32e05b7a) format("woff"), url(/fonts/CoreSansC-15Thin.ttf?c5166e799ad66ff9c6780b9ba6f1edb7) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 65";
  src: url(/fonts/CoreSansC-65BoldIt.eot?0d4e2769ab349e0083942d461796f016);
  src: local("Core Sans C 65 Bold Italic"), local("CoreSansC-65BoldIt"), url(/fonts/CoreSansC-65BoldIt.eot?0d4e2769ab349e0083942d461796f016?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-65BoldIt.woff2?c53c7fa816916449e098435083fab3c4) format("woff2"), url(/fonts/CoreSansC-65BoldIt.woff?22e6326e613a85adbecbd3f94eb7f5b7) format("woff"), url(/fonts/CoreSansC-65BoldIt.ttf?7f4066e41990a3044bc47036ee48f6e6) format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 25";
  src: url(/fonts/CoreSansC-25ExtraLightIt.eot?ac6eecb8184e2c5d993a90612525d3fe);
  src: local("Core Sans C 25 ExtraLight Italic"), local("CoreSansC-25ExtraLightIt"), url(/fonts/CoreSansC-25ExtraLightIt.eot?ac6eecb8184e2c5d993a90612525d3fe?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-25ExtraLightIt.woff2?b6821ac714cb5cd63817affde40068bf) format("woff2"), url(/fonts/CoreSansC-25ExtraLightIt.woff?af88e1525fd4e5a910687b83cb68a9a3) format("woff"), url(/fonts/CoreSansC-25ExtraLightIt.ttf?ba1970030bb54323f85b7beb7f04c7c6) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 65";
  src: url(/fonts/CoreSansC-65Bold.eot?4379a99cf0b6e689c5bdbdd205f4beb3);
  src: local("Core Sans C 65 Bold"), local("CoreSansC-65Bold"), url(/fonts/CoreSansC-65Bold.eot?4379a99cf0b6e689c5bdbdd205f4beb3?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-65Bold.woff2?2ee1cf521b838e6fa9731f5d1bba007c) format("woff2"), url(/fonts/CoreSansC-65Bold.woff?38cfe81771b468c1a6c159bbab11b0cd) format("woff"), url(/fonts/CoreSansC-65Bold.ttf?0e024d0ee78669d437b25a5cf875d7ca) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 35";
  src: url(/fonts/CoreSansC-35LightIt.eot?cf3785e4b791ecaea6db762fe3c62a9c);
  src: local("Core Sans C 35 Light Italic"), local("CoreSansC-35LightIt"), url(/fonts/CoreSansC-35LightIt.eot?cf3785e4b791ecaea6db762fe3c62a9c?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-35LightIt.woff2?543d7f9aa15c8a00dc10d3df34e9c5f3) format("woff2"), url(/fonts/CoreSansC-35LightIt.woff?e134ec83046745953af2160b2a7bb2c9) format("woff"), url(/fonts/CoreSansC-35LightIt.ttf?467206c33a93944f04da2cd12f918f0a) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 55";
  src: url(/fonts/CoreSansC-55Medium.eot?43f17380c02b76fc17ae6ca4f791158e);
  src: local("Core Sans C 55 Medium"), local("CoreSansC-55Medium"), url(/fonts/CoreSansC-55Medium.eot?43f17380c02b76fc17ae6ca4f791158e?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-55Medium.woff2?bfb534fcf191425186ef43148db60ae1) format("woff2"), url(/fonts/CoreSansC-55Medium.woff?6c434d2e8345090382d92c21956e483c) format("woff"), url(/fonts/CoreSansC-55Medium.ttf?e97ba63882c22d0d505bc31412d46bf7) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 85";
  src: url(/fonts/CoreSansC-85HeavyIt.eot?01328e78e8447442a55bbd98061fd973);
  src: local("Core Sans C 85 Heavy Italic"), local("CoreSansC-85HeavyIt"), url(/fonts/CoreSansC-85HeavyIt.eot?01328e78e8447442a55bbd98061fd973?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-85HeavyIt.woff2?0ff06bc1c6c3c6478eb0b2d64e41027e) format("woff2"), url(/fonts/CoreSansC-85HeavyIt.woff?7ae15a671b7aaa61453c1e54a385afe2) format("woff"), url(/fonts/CoreSansC-85HeavyIt.ttf?834b6ad1f8c384398f6349160486257b) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 15";
  src: url(/fonts/CoreSansC-15ThinIt.eot?64a1f8af02d9a2a9b1246caa6cda188e);
  src: local("Core Sans C 15 Thin Italic"), local("CoreSansC-15ThinIt"), url(/fonts/CoreSansC-15ThinIt.eot?64a1f8af02d9a2a9b1246caa6cda188e?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-15ThinIt.woff2?d26d979d4d652f4d9739bf6785fb939a) format("woff2"), url(/fonts/CoreSansC-15ThinIt.woff?334c20fb8385dab767a8a57baba34ba6) format("woff"), url(/fonts/CoreSansC-15ThinIt.ttf?408531722a6bf0d181dbf49ae5ce8de3) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 45";
  src: url(/fonts/CoreSansC-45RegularIt.eot?f0b6cdd7dc4fb3d809ec0749c65e4ade);
  src: local("Core Sans C 45 Regular Italic"), local("CoreSansC-45RegularIt"), url(/fonts/CoreSansC-45RegularIt.eot?f0b6cdd7dc4fb3d809ec0749c65e4ade?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-45RegularIt.woff2?8e5512de7e1b332ea9b4b4e9a84a8030) format("woff2"), url(/fonts/CoreSansC-45RegularIt.woff?c9f231f7d37c3d528a3a25aeb83a0abf) format("woff"), url(/fonts/CoreSansC-45RegularIt.ttf?e2bd4d86f50cdd3c5e8c36de90ec22d3) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 25";
  src: url(/fonts/CoreSansC-25ExtraLight.eot?9f3461c7593ce90827c7eb619dc4f512);
  src: local("Core Sans C 25 ExtraLight"), local("CoreSansC-25ExtraLight"), url(/fonts/CoreSansC-25ExtraLight.eot?9f3461c7593ce90827c7eb619dc4f512?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-25ExtraLight.woff2?ad43e89d2993c6c87a2585b07a433536) format("woff2"), url(/fonts/CoreSansC-25ExtraLight.woff?fb810a0c282c43bada635588bb98238e) format("woff"), url(/fonts/CoreSansC-25ExtraLight.ttf?9df19ce3c0da80be628c2fc7b542fe47) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 75";
  src: url(/fonts/CoreSansC-75ExtraBoldIt.eot?bc17389c0ee3e2592f1a19394712a9d1);
  src: local("Core Sans C 75 ExtraBold Italic"), local("CoreSansC-75ExtraBoldIt"), url(/fonts/CoreSansC-75ExtraBoldIt.eot?bc17389c0ee3e2592f1a19394712a9d1?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-75ExtraBoldIt.woff2?f52c70af8ba0eaac3e0ae605ad332c52) format("woff2"), url(/fonts/CoreSansC-75ExtraBoldIt.woff?874120958202cc179c620a22ef7528d6) format("woff"), url(/fonts/CoreSansC-75ExtraBoldIt.ttf?8908b3f68d330389fa603f97a26d1e2b) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 55";
  src: url(/fonts/CoreSansC-55MediumIt.eot?737cf980699ebcfc04b9d3e38174e3e2);
  src: local("Core Sans C 55 Medium Italic"), local("CoreSansC-55MediumIt"), url(/fonts/CoreSansC-55MediumIt.eot?737cf980699ebcfc04b9d3e38174e3e2?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-55MediumIt.woff2?c13707316febee79a64b242cd6804932) format("woff2"), url(/fonts/CoreSansC-55MediumIt.woff?c404e36dbd1647a8de38c701a3befbab) format("woff"), url(/fonts/CoreSansC-55MediumIt.ttf?1ec02512c97280d8925149ccde7ebc49) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 95";
  src: url(/fonts/CoreSansC-95Black.eot?d8012789c8f184eefa733e89d04982a1);
  src: local("Core Sans C 95 Black"), local("CoreSansC-95Black"), url(/fonts/CoreSansC-95Black.eot?d8012789c8f184eefa733e89d04982a1?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-95Black.woff2?dec43e55f7f6ce307e21538d6744f51a) format("woff2"), url(/fonts/CoreSansC-95Black.woff?43cbf49f5fda3c1321f5fa126f59f466) format("woff"), url(/fonts/CoreSansC-95Black.ttf?08aaf321a4137322040130ed679a6eda) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 75";
  src: url(/fonts/CoreSansC-75ExtraBold.eot?c76bf6545268d180170710b57883a31d);
  src: local("Core Sans C 75 ExtraBold"), local("CoreSansC-75ExtraBold"), url(/fonts/CoreSansC-75ExtraBold.eot?c76bf6545268d180170710b57883a31d?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-75ExtraBold.woff2?91987e1165cb32afe1b31f1f7ebeebc1) format("woff2"), url(/fonts/CoreSansC-75ExtraBold.woff?9c0fdafd8a902a7299b31943604bfb7d) format("woff"), url(/fonts/CoreSansC-75ExtraBold.ttf?d2a095401e59bfff4ec57c25347ca5fb) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 95";
  src: url(/fonts/CoreSansC-95BlackIt.eot?11082883a229479d41ef09f3c49ff099);
  src: local("Core Sans C 95 Black Italic"), local("CoreSansC-95BlackIt"), url(/fonts/CoreSansC-95BlackIt.eot?11082883a229479d41ef09f3c49ff099?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-95BlackIt.woff2?e97fa2e7914ebcb1214633435a1fe0a2) format("woff2"), url(/fonts/CoreSansC-95BlackIt.woff?521c168e3bc7f916813c9388ede7824f) format("woff"), url(/fonts/CoreSansC-95BlackIt.ttf?512f33639475eb4289be8313eecf4e6a) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Core Sans C 35";
  src: url(/fonts/CoreSansC-35Light.eot?1e17099cd1b36bd02c016efd3a45df01);
  src: local("Core Sans C 35 Light"), local("CoreSansC-35Light"), url(/fonts/CoreSansC-35Light.eot?1e17099cd1b36bd02c016efd3a45df01?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-35Light.woff2?2484d4d7d2248c309dcf4114c431e31b) format("woff2"), url(/fonts/CoreSansC-35Light.woff?42fa5b474bbbd133f28877bdcd8ef9e8) format("woff"), url(/fonts/CoreSansC-35Light.ttf?03ca56e1842c59195f2ca2034661eaa8) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 85";
  src: url(/fonts/CoreSansC-85Heavy.eot?55e27562ff9a45d4dec5e878ebb9faeb);
  src: local("Core Sans C 85 Heavy"), local("CoreSansC-85Heavy"), url(/fonts/CoreSansC-85Heavy.eot?55e27562ff9a45d4dec5e878ebb9faeb?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-85Heavy.woff2?699a44c818c0286d42f7d1ec519cb061) format("woff2"), url(/fonts/CoreSansC-85Heavy.woff?5f90687ad2516bcc3afa9f459d17f3ae) format("woff"), url(/fonts/CoreSansC-85Heavy.ttf?c516857f87e6d3899902718343e6706d) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 45";
  src: url(/fonts/CoreSansC-45Regular.eot?a19ac9881c2e783b12137fa45a849be7);
  src: local("Core Sans C 45 Regular"), local("CoreSansC-45Regular"), url(/fonts/CoreSansC-45Regular.eot?a19ac9881c2e783b12137fa45a849be7?#iefix) format("embedded-opentype"), url(/fonts/CoreSansC-45Regular.woff2?ded1f20adc1f9c82931ec8dd8f532999) format("woff2"), url(/fonts/CoreSansC-45Regular.woff?787c3a009f8b7b8acd2185c45cd25fdb) format("woff"), url(/fonts/CoreSansC-45Regular.ttf?403f49d3a68c1240a81c49ef372586c4) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*  MODAL WINDOW ==================================================================================================== */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 2rem);
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: calc(50% - 1rem);
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  margin: 1rem;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}
.modal__title {
  font-family: "Core Sans C 75";
  font-size: 2rem;
  color: #000000;
}
.modal__subtitle {
  width: 240px;
  margin: 1rem auto;
  font-family: "Core Sans C 45";
  font-size: 0.8rem;
  color: #646464;
  line-height: 1.2rem;
}
.modal__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  right: 25px;
  fill: #444;
  cursor: pointer;
}
.modal.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 1rem;
  }
  .modal__title {
    font-size: 1.5rem;
    margin: 0.25rem 0 0;
  }
}
/*  GENERAL  ======================================================================================================== */

::-moz-placeholder {
  font-family: "Core Sans C 45" !important;
  color: #D1D1D1;
  opacity: 1;
}

::placeholder {
  font-family: "Core Sans C 45" !important;
  color: #D1D1D1;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Core Sans C 45" !important;
  font-size: 1rem;
}

/*  GRIG  =========================================================================================================== */
.container, .copyright__container, .footer__container, .section__container, .main__container, .header__container {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/*  HEADER  ========================================================================================================= */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.header-top__menu a {
  display: inline-block;
  margin: 0 1.5rem;
  font-size: 0.8rem;
  color: #000;
  font-family: "Core Sans C 65";
  text-decoration: none;
  transition: color 0.3s Linear;
}
.header-top__menu a:first-child {
  margin: 0 1.5rem 0 0;
}
.header-top__menu a:last-child {
  margin: 0 0 0 1.5rem;
}
.header-top__menu a:hover {
  color: #BE0C0C;
}
.header-top__social a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: opacity 0.3s Linear;
}
.header-top__social a:last-child {
  margin: 0 0 0 5px;
}
.header-top__social a:hover {
  opacity: 0.7;
}
.header-top__social a.ws {
  background-image: url("/images/messangers_icons.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
.header-top__social a.tg {
  background-image: url("/images/messangers_icons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F8F8F8;
  border-radius: 10px;
  padding: 0.8rem 1rem;
}
.header-main__logo {
  display: inline-block;
  line-height: 0;
}
.header-main__logo img {
  width: 54px;
}
.header-main__search {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-main__buttons .button {
  border: 1px Solid #BE0C0C;
  border-radius: 6px;
  background: #BE0C0C;
  padding: 1rem 1.5rem;
  font-family: "Core Sans C 65";
  font-size: 0.85rem;
  color: #fff;
  text-decoration: none;
}
.header-main__buttons .button span {
  display: inline-block;
  padding: 0 0 0 25px;
  height: 20px;
  line-height: 1.25rem;
}
.header-main__buttons .button--add span {
  background-image: url("/images/user_add_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.header-main__buttons .button--login {
  border: 1px Solid #229ED9;
  background: transparent;
  color: #229ED9;
}
.header-main__buttons .button--login span {
  background-image: url("/images/user_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.header-main__buttons .button:first-child {
  margin: 0 0.5rem 0 0;
}
.header-search {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  width: 100%;
  max-width: 365px;
  box-sizing: content-box;
}
.header-search__input {
  border: 1px Solid #fff;
  background: #fff;
  border-radius: 6px;
  padding: 0.9rem 1rem;
  width: 100%;
}
.header-search__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 3rem;
  border: none;
  background-color: transparent;
  background-image: url("/images/search_icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.header-search__link {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s Linear;
}
.header-search__link:hover {
  color: #BE0C0C;
}
.header-search__link span {
  display: inline-block;
  margin: 0 0 0 0.3rem;
  height: 20px;
  width: 17px;
  background-color: transparent;
  background-image: url("/images/metro_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*  MAIN  =========================================================================================================== */
.main {
  padding: 2rem 0;
}
.main__container--with-aside {
  display: flex;
  flex-direction: row;
}
.main .aside {
  width: 100%;
  max-width: 300px;
}
.main .content {
  flex: auto;
  width: 100%;
  padding: 0 0 0 1.5rem;
}
.main__h1 {
  padding: 2rem 0 1.5rem;
  font-size: 2rem;
  font-family: "Core Sans C 75";
}

.aside-menu {
  background: #F8F8F8;
  border-radius: 1rem;
  overflow: hidden;
}
.aside-menu__list {
  padding: 0;
  margin: 0;
}
.aside-menu__item {
  display: block;
  padding: 0;
  margin: 0;
}
.aside-menu__item:last-child a {
  color: #BE0C0C;
  border-bottom: none;
}
.aside-menu__item:last-child a:hover {
  color: #df0031;
}
.aside-menu__link {
  display: block;
  border-bottom: 1px Solid #D9D9D9;
  padding: 1.5rem 0 1.5rem 3.5rem;
  font-size: 0.9rem;
  font-family: "Core Sans C 65";
  color: #666666;
  text-decoration: none;
  transition: color 0.3s Linear;
}
.aside-menu__link:hover {
  color: #2AABEE;
}
.aside-menu__link--icon-profile {
  background-image: url("/images/user_gray_icon.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 20px;
}
.aside-menu__link--icon-rate {
  background-image: url("/images/rate_icon.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 20px;
}
.aside-menu__link--icon-payment {
  background-image: url("/images/payment_icon.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 20px;
}
.aside-menu__link--icon-logout {
  background-image: url("/images/logout_icon.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 20px;
}
.aside-menu__link--active {
  color: #fff !important;
  background-color: #2AABEE;
  border-bottom: none;
}
.aside-menu__link--active.aside-menu__link--icon-profile {
  background-image: url("/images/user_white_icon.png");
}
.aside-menu__link--active.aside-menu__link--icon-rate {
  background-image: url("/images/rate_white_icon.png");
}
.aside-menu__link--active.aside-menu__link--icon-payment {
  background-image: url("/images/payment_white_icon.png");
}

.section__title {
  margin: 1.5rem 0;
  font-family: "Core Sans C 75";
  font-size: 32px;
  color: #000;
}

/*  FOOTER  ========================================================================================================= */
.footer {
  background: #f8f8f8;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.footer-links__logo {
  line-height: 0;
}
.footer-links__logo img {
  width: 78px;
  height: 80px;
}
.footer-links__menu a {
  display: inline-block;
  margin: 0 1.5rem;
  color: #000;
  font-family: "Core Sans C 65";
  text-decoration: none;
  transition: color 0.3s Linear;
}
.footer-links__menu a:hover {
  color: #BE0C0C;
}
.footer-links__social a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  transition: opacity 0.3s Linear;
}
.footer-links__social a:last-child {
  margin: 0 0 0 5px;
}
.footer-links__social a:hover {
  opacity: 0.7;
}
.footer-links__social a.ws {
  background-image: url("/images/messangers_icons.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
.footer-links__social a.tg {
  background-image: url("/images/messangers_icons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.footer-offer {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.copyright {
  margin: 2rem 0 0;
  background: #e4e4e4;
  line-height: 3rem;
  font-size: 0.85rem;
}
.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-text {
  color: #000;
  font-family: "Core Sans C 65";
}
.copyright-links {
  font-family: "Core Sans C 45";
}
.copyright-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s Linear;
}
.copyright-links a:last-child {
  margin: 0 0 0 2rem;
}
.copyright-links a:hover {
  color: #BE0C0C;
}

/*  FORM LOGIN  ===================================================================================================== */
.form-login {
  margin: 1rem 2rem;
}
.form-login__alert {
  padding: 0 0 1rem;
}
.form-login label {
  display: block;
  position: relative;
  margin: 0 0 1rem;
}
.form-login__input {
  border: 1px Solid #efefef;
  background: #fff;
  border-radius: 6px;
  padding: 1.35rem 1rem 1.35rem 3rem;
  width: 100%;
}
.form-login__button {
  border: 1px Solid #BE0C0C;
  background: #BE0C0C;
  padding: 1.35rem 1rem 1.35rem 1rem;
  color: #fff;
  margin: 0 0 1rem;
  width: 100%;
  border-radius: 6px;
  font-family: "Core Sans C 65";
  cursor: pointer;
}
.form-login .icon {
  background-repeat: no-repeat;
  background-size: 20px;
}
.form-login .icon--email {
  background-image: url("/images/email_icon.png");
  background-position: 1rem center;
}
.form-login .icon--password {
  background-image: url("/images/password_icon.png");
  background-position: 1rem center;
}
.form-login .show-password {
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  right: 1rem;
  width: 20px;
  height: 20px;
  background-image: url("/images/eye_password_icon.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 20px;
}
.form-login .show-password.active {
  background-position: bottom center;
}

@media screen and (max-width: 767px) {
  .form-login {
    margin: 1rem;
  }
}
/*  FORM REGISTER  ================================================================================================== */
.form-register {
  margin: 1rem 2rem;
}
.form-register__alert {
  padding: 0 0 1rem;
}
.form-register label {
  display: block;
  position: relative;
  margin: 0 0 1rem;
}
.form-register__input {
  border: 1px Solid #efefef;
  background: #fff;
  border-radius: 6px;
  padding: 1.35rem 1rem 1.35rem 3rem;
  width: 100%;
}
.form-register__button {
  border: 1px Solid #BE0C0C;
  background: #BE0C0C;
  padding: 1.35rem 1rem 1.35rem 1rem;
  color: #fff;
  margin: 0 0 1rem;
  width: 100%;
  border-radius: 6px;
  font-family: "Core Sans C 65";
  cursor: pointer;
}
.form-register .icon {
  background-repeat: no-repeat;
  background-size: 20px;
}
.form-register .icon--user {
  background-image: url("/images/user_icon.png");
  background-position: 1rem center;
}
.form-register .icon--email {
  background-image: url("/images/email_icon.png");
  background-position: 1rem center;
}
.form-register .icon--password {
  background-image: url("/images/password_icon.png");
  background-position: 1rem center;
}
.form-register .show-password {
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  right: 1rem;
  width: 20px;
  height: 20px;
  background-image: url("/images/eye_password_icon.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 20px;
}
.form-register .show-password.active {
  background-position: bottom center;
}

@media screen and (max-width: 767px) {
  .form-register {
    margin: 1rem;
  }
}
/*  RATES  ========================================================================================================== */
.rates__item {
  margin: 0 0 1rem;
  border-radius: 0.5rem;
  background: #F8F8F8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rates .rate__content, .rates .rate__image {
  padding: 1.5rem;
}
.rates .rate__title {
  font-family: "Core Sans C 75";
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
.rates .rate__description {
  margin: 0 0 1.5rem;
  font-family: "Core Sans C 45";
  font-size: 12px;
  color: #666666;
  line-height: 22px;
}
.rates .rate__description b, .rates .rate__description strong {
  font-family: "Core Sans C 75";
  color: #2AABEE;
}
.rates .rate__information {
  margin: 0.5rem 0 0;
  font-family: "Core Sans C 65";
  font-size: 12px;
  color: #000;
  line-height: 22px;
}
.rates .rate__information b, .rates .rate__information strong {
  color: #BE0C0C;
}
.rates .offers__title {
  margin: 0 0 0.5rem;
  font-family: "Core Sans C 75";
  font-size: 18px;
}
.rates .offers label {
  font-family: "Core Sans C 45";
  font-size: 10px;
  color: #000;
}
.rates-calculator {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rates-calculator__amount {
  margin: 0 2rem 0 0;
  font-family: "Core Sans C 75";
  font-size: 18px;
  width: 100%;
}

.button {
  display: inline-block;
  border: 1px Solid #BE0C0C;
  border-radius: 6px;
  background: #BE0C0C;
  padding: 1rem 3rem;
  font-family: "Core Sans C 65";
  font-size: 0.85rem;
  color: #fff;
  text-decoration: none;
}

.view-all {
  margin: 2rem;
  text-align: center;
}

/*  FORM ELEMENTS =================================================================================================== */
.input_radio {
  position: relative;
  padding: 0 1.5rem 0 1.3rem;
  line-height: 0.85rem;
  margin: 0 0 0.6rem;
}
.input_radio > label {
  display: inline-block;
  cursor: pointer;
}
.input_radio > label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("/images/radio_icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.input_radio > input[type=radio] {
  display: none;
}
.input_radio > input[type=radio]:checked ~ label:before {
  background-position: 0 -15px !important;
}

/*  MAIN SLIDER ===================================================================================================== */
.main-slider {
  margin: 0 0 4rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.main-slider__slide {
  width: 100%;
  height: 400px !important;
  background-image: url("/images/slide-default.png");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-slider__title {
  margin: 8rem 0 0 4rem;
  font-family: "Core Sans C 75";
  font-size: 38px;
  line-height: 52px;
  width: 100%;
  max-width: 400px;
}

/*  PROFILES LISTS ================================================================================================== */
.profiles-list {
  margin: 0 -0.5rem;
  display: flex;
  flex-wrap: wrap;
}

/*  PROFILES SLIDER ================================================================================================== */
.profiles-slider {
  margin: 0 -0.5rem 4rem !important;
}
.profiles-slider .profile-item {
  width: calc(100% - 1rem);
}

/*  PROFILES LIST ITEM ============================================================================================== */
.profile-item {
  position: relative;
  margin: 0.5rem;
  width: calc(25% - 1rem);
  min-height: 445px;
  background-image: url("/images/profile-demo.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
}
.profile-item__information {
  position: absolute;
  left: 0;
  bottom: -50%;
  right: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: bottom 0.2s Linear, opacity 0.2s Linear;
}
.profile-item__information .information__column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  padding: 0 1rem;
}
.profile-item__information .information__column:first-child {
  padding: 1rem 1rem 0.5rem;
  width: 100%;
}
.profile-item__information .information__column:last-child {
  width: 100%;
}
.profile-item__information .information__column:last-child .information__item {
  flex-direction: column;
}
.profile-item__information .information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.25rem;
  width: 100%;
}
.profile-item__information .information__item .name {
  font-family: "Core Sans C 75";
  font-size: 16px;
}
.profile-item__information .information__item .id {
  font-family: "Core Sans C 45";
  font-size: 12px;
}
.profile-item__information .information__item .contacts {
  margin: 0.5rem -1rem;
  padding: 0.25rem;
  background: #2AABEE;
  font-family: "Core Sans C 75";
  font-size: 14px;
  color: #fff;
  width: calc(100% + 2rem);
  display: flex;
  align-items: self-end;
  justify-content: center;
}
.profile-item__information .information__item .contacts span {
  display: inline-block;
  margin: 0 0.25rem 0;
  width: 1rem;
  height: 1rem;
  background-image: url("/images/call_white_icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.profile-item__information .information__item .description {
  font-family: "Core Sans C 45";
  font-size: 13px;
  color: #666666;
}
.profile-item__information .information__item .item {
  font-family: "Core Sans C 45";
  font-size: 12px;
  color: #666666;
}
.profile-item__information .information__item .value {
  padding: 0.3rem 0.5rem 0;
  border: 1px Solid #E5E5E5;
  background: #fff;
  border-radius: 3px;
  font-family: "Core Sans C 75";
  font-size: 13px;
  color: #000;
  min-width: 45px;
  text-align: center;
}
.profile-item:hover .profile-item__information {
  bottom: 0;
  opacity: 1;
}
